region = "ap-south-1"
db_password = "ChangeMe123!"
mq_password = "ChangeMe123!"
db_backup_retention_period = 0
db_deletion_protection = false
db_storage_encrypted = true
db_multi_az = false
cluster_endpoint_public_access = true
